/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  font-size: 14px; /* Adjusted font size for mobile */
}

.inner-center {
  width: 100%; /* Adjusted width for mobile */
  padding: 10px;
}

.content-inside {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjusted margin */
}

.logo-left img {
  border-radius: 50%;
  max-width: 50px; /* Adjusted max-width for mobile */
}

.logo-right span {
  font-size: 20px; /* Adjusted font size for mobile */
  color: #333;
}

.nav-content {
  margin-top: 10px; /* Adjusted margin */
}

.jj-list {
  margin-bottom: 10px; /* Adjusted margin */
}

.jj-list-tit {
  font-size: 16px; /* Adjusted font size for mobile */
  font-weight: bold;
  margin-bottom: 5px; /* Adjusted margin */
}

.jj-list1-con li, .jj-list-con li {
  margin-bottom: 5px; /* Adjusted margin */
}

/* Style for displaying jj-list-con items side by side */
.jj-list-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jj-list-con li {
  width: calc(50% - 5px); /* Adjusted width for mobile */
  margin-bottom: 5px; /* Adjusted margin */
  padding: 5px; /* Adjusted padding */
  background-color: #f2f2f2;
  border-radius: 5px;
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #8C8C8C;
  font-size: 12px; /* Adjusted font size for mobile */
}

.footer a {
  color: #8C8C8C;
  text-decoration: none;
}
